.header{
    background: #3f51b5;
    color: #FFF;
}

.drawer{
    background: #FFF;
}

.drawerHeader .fa{
    color: #FFF;
}

.drawerHeader{
}

.drawerRow{
}

.drawerRow a:link, a:visited{
    color:#666;
    text-decoration:none;
}

.card a:link, a:visited{
    color:#0288D1;
}

.header a:link{
    color:#666;
    text-decoration:none;
    font-size:30px;
}

.header a:visited{
    color:#666;
    text-decoration:none;
    font-size:30px;
}

#hamburger{
    color:#FFF;
}

.card_header{
    background: #00BCD4;
}