<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Jeremie A. - Developer</title>
    <script src="node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="node_modules/tachyons/css/tachyons.min.css"/>
    <link rel="stylesheet" href="res/app.css"/>
  </head>
  <body>
    <div id="app">
      <header class="tc pv4 pv5-ns">
        <img v-bind:src="avatar" class="br3 ba b--black-10 h3 w3" alt="avatar">
        <h1 class="f5 f4-ns fw6 black-70">Jéremie Amsellem</h1>
        <h2 class="f6 black-70 fw2 ttu tracked">Developer</h2>
          <nav class="bt bb tc mw7 center mt4">
            <a v-for="link in links"
               class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l"
               v-bind:href="link.url" v-on:click="page=link.index">{{link.title}}</a>
          </nav>
      </header>
      <div class="container">  
        <span v-if="page==0" v-html="baseline"></span>
        <section v-if="page==1" class="mw7 center">
          <article v-for="project in projects" class="pv4 bt bb b--black-10 ph3 ph0-l">
            <div class="flex flex-column flex-row-ns">
              <div class="w-100 w-60-ns pr3-ns order-2 order-1-ns">
                <h1 class="f3 athelas mt0 lh-title">{{project.title}}</h1>
                <p class="f5 f4-l lh-copy athelas">{{project.description}}</p>
                <a class="link near-black hover-silver dib h2 w2 mr3"
                   v-bind:href="project.link.url">
                  {{project.link.name}}
                </a>                
              </div>
              <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns">
                <img v-bind:src="project.img" class="db"/>
              </div>
            </div>
          </article>
          <article class="pv4 bt bb b--black-10 ph3 ph0-1">
            <div class="flex flex-column flex-row-ns">
              <div class="w-100 w-60-ns pr3-ns order-2 order-1-ns">
                <h1 class="f3 athelas mt0 lh-title">Dioramas</h1>
                <h3 class="f4 athelas m10 lh-title">Shelock</h3>
                <div class="sketchfab-embed-wrapper">
                  <iframe width="640" height="480" src="https://sketchfab.com/models/753e92b284464c94ad89206c269d104b/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
                  </iframe>
                </div>
                <p class="f5 f4-l lh-copy athelas">The dioramas project is a set of 3D scenes inspired from the environment of fictional characters I like, the last one is one of the most famous flat in english litterature : 221b Baker Street. This model has been highly inspired from the BBC's show Sherlock.</p>
              </div>
            </div>
          </article>
        </section>
        <article v-if="page==3" class="cf">
          <div v-for="photo in photos" class="fl w-50 w-50-ns">
            <a v-bind:href="photo.url" class="db aspect-ratio aspect-ratio--1x1 dim">
              <span role="img" v-bind:style="photo.asBackground" class="bg-center cover aspect-ratio--object"></span>
            </a>
          </div>
        </article>
      </div>
      <footer class="pv4 ph3 ph5-ns tc">
        <a class="link near-black hover-silver dib h2 w2 mr3" v-for="contact in contacts" v-bind:href="contact.url" v-bind:title="contact.title">
          <img v-bind:src="contact.img"/>
        </a>
      </footer>
    </div>
  </body>
  <script src="res/app.js"></script>
</html>
